* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f0f4f8, #eff2f6);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

p {
    white-space: normal;
    overflow-wrap: break-word;
}

/* Page de démarrage (landing page) */
#landing-page {
    text-align: center;
}

#landing-page h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.cache {
    display: none !important;
}

#landing-page p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    width: fit-content;
    padding: 2%;
}

button:hover {
    background-color: #0056b3;
    color: white;
}

/* Page de chat (chat page) */
#chat-page {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.background-anim {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #0056b320;
    border-radius: 50%;
    animation: float 5s infinite ease-in-out alternate;
}
@keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
}

.main-container {
    width: 100%;
    height: 100%;
    background: #0d223929;
    display: flex;
}

.game-container {
    height: 100%;
    width: 60%;
}

#chat-container {
    width: 20%;
    height: 100%;
    background: #73737329;
    padding: 0.5%;
    border: 1px solid gray;
}

#chat {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 7px;
    overflow-y: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80%;
}

#chat p {
    border: 1px solid;
}

#message {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
    padding: 6px;
}

#message:focus {
    border-color: #007bff;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Style des messages */
.host, .guest {
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.host {
    background-color: #ffe6e6;
    color: #d9534f;
    text-align: left;
}

.guest {
    background-color: #e6f7ff;
    color: #5bc0de;
    text-align: left;
}

.hidden {
    display: none;
}

.popup-alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    align-items: center;
    gap: 10px;
    width: 100%;
    display: inline-flex;
    animation: fadeIn 0.5s ease-in-out;
}

#closePopup {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: unset;
    margin: unset;
    width: fit-content;
}

#popupMessage {
    width: 100%;
    position: relative;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.handTopPlayer-container, .handBottomPlayer-container {
    width: 100%;
    height: 20%;
    background: blueviolet;
}

.grid-container {
    width: 100%;
    height: 60%;
    background: brown;
}

.assetGame-container {
    width: 20%;
    height: 100%;
}

.AlertTurn {
    background: green;
    width: 100%;
    height: 30%;
}

.ObjectifAnnoucement {
    width: 100%;
    height: 60%;
    background: blue;
}

.HelpNotice {
    width: 100%;
    height: 60%;
    background: aqua;
}